Repository zehuichan/turborepo-starter: changes, and which lefthook commands are due for each by the changed paths.
All: lint-md, lint-vue, lint-js, lint-style, lint-package, lint-json

lefthook.yml:

# Git hooks config, reference: https://lefthook.dev/configuration/

pre-commit:
  parallel: true
  commands:
    lint-md:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files}
      glob: "*.md"
    lint-vue:
      run: pnpm prettier --write {staged_files} && pnpm eslint --cache --fix {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: "*.vue"
    lint-js:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm eslint --cache --fix {staged_files}
      glob: "*.{js,jsx,ts,tsx}"
    lint-style:
      run: pnpm prettier --cache --ignore-unknown --write {staged_files} && pnpm stylelint --fix --allow-empty-input {staged_files}
      glob: "*.{scss,less,styl,html,vue,css}"
    lint-package:
      run: pnpm prettier --cache --write {staged_files}
      glob: "package.json"
    lint-json:
      run: pnpm prettier --cache --write --parser json {staged_files}
      glob: "{!(package)*.json,*.code-snippets,.!(browserslist)*rc}"

post-merge:
  commands:
    install:
      run: pnpm install

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit $1

feat: Format code/docs, update .gitignore, remove caches
  .agents/skills/turborepo/SKILL.md
  .agents/skills/turborepo/command/turborepo.md
  .agents/skills/turborepo/references/best-practices/RULE.md
  .agents/skills/turborepo/references/best-practices/dependencies.md
  .agents/skills/turborepo/references/configuration/global-options.md
  .agents/skills/turborepo/references/configuration/tasks.md
  .agents/skills/turborepo/references/filtering/RULE.md
  .agents/skills/vue/SKILL.md
  .agents/skills/vue/references/core-new-apis.md
  .agents/skills/vue/references/script-setup-macros.md
  .eslintcache
  .gitignore
  .stylelintcache
  apps/vite-project/src/App.vue
  apps/vite-project/src/components/HelloWorld.vue
  apps/vite-project/src/main.ts
  apps/vite-project/src/style.css
  apps/vite-project/vite.config.ts
  internal/eslint-config/src/configs/javascript.ts
  lefthook.yml
Due: lint-md, lint-vue, lint-js, lint-style

fix: lefthook: set root and fix placeholders
  lefthook.yml
Due: none

feat: test pre-commit
  apps/vite-project/src/main.ts
Due: lint-js

feat: Use conditional exports with types/default
  packages/share/package.json
  packages/utils/package.json
Due: none

feat: add kebab-case and fix wording
  .cursor/commands/feature.md
  .cursor/commands/plan.md
Due: lint-md
